<div id="signup-box">
	<h2>Signup Here</h2>
	<div style="color : red" *ngIf='error'>{{error}}</div>
	<div style="color : green" *ngIf='success'>{{success}}</div>
	<form name='signupForm' (submit)="doSignup()">
		<table>
			<tr>
				<td>Username:</td>
				<td><input type='text' name='username' [(ngModel)]="username"></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type='password' name='password' [(ngModel)]="password"/></td>
			</tr>
			<tr>
				<td>Roles:</td>
				<td>
					<div *ngFor="let role of user_roles">
						<input [(ngModel)]="role.selected" name="{{ role.name }}" type="checkbox" id="{{role.name}}" (change)="onChangeCategory($event, role)">
						<label class="form-check-label" for="{{role.name}}">
							{{role.name}}
						</label>
					</div>
				</td>
			</tr>
			<tr>
				<td><input name="submit" type="submit" value="Signup" /></td>
				<td>Have account? <a href="/signin" routerLink="/signin">Signin</a></td>
			</tr>
		</table>
	</form>
</div>
