<div id="signin-box">
	<h2>Signin Here</h2>
	<div style="color : red" *ngIf='error'>{{error}}</div>
	<form name='signinForm' (submit)="doSignin()">
		<table>
			<tr>
				<td>Username:</td>
				<td><input type='text' name='username' [(ngModel)]="username"></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type='password' name='password' [(ngModel)]="password"/></td>
			</tr>
			<tr>
				<td><input name="submit" type="submit" value="Signin" /></td>
				<td>Don't have account? <a href="/signup" routerLink="/signup">Signup</a></td>
			</tr>
		</table>
	</form>
</div>
