<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Full Name:
      <input id="name" formControlName="name" placeholder="Full name">
    </label>
	<div *ngIf="registrationForm.get('name')?.invalid && (registrationForm.get('name')?.dirty || registrationForm.get('name')?.touched)">
      <div *ngIf="registrationForm.get('name')?.errors?.['required']">Please provide a full name.</div>
      <div *ngIf="registrationForm.get('name')?.errors?.['minlength']">Name must be at least 3 characters.</div>
    </div>
  </div>
  <div>
    <label>
      Email:
      <input id="email" formControlName="email" placeholder="Your email">
    </label>
	<div *ngIf="registrationForm.get('email')?.pending">Checking email...</div>
	<div *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)">
      <div *ngIf="registrationForm.get('email')?.errors?.['required']">Email is required.</div>
      <div *ngIf="registrationForm.get('email')?.errors?.['email']">Invalid email format.</div>
	  <div *ngIf="registrationForm.get('email')?.errors?.['emailTaken']">Email is already taken.</div>
    </div>
  </div>
  <div>
    <label>
      Address:
      <textarea id="address" formControlName="address" placeholder="Your address"></textarea>
    </label>
	<div *ngIf="registrationForm.get('address')?.invalid && (registrationForm.get('address')?.dirty || registrationForm.get('address')?.touched)">
	  <div *ngIf="registrationForm.get('address')?.errors?.['required']">Please provide your address.</div>
	  <div *ngIf="registrationForm.get('address')?.errors?.['minlength']">Address must be at least 30 characters long.</div>
    </div>
  </div>
  <div>
    <label>
      Country:
      <input id="country" formControlName="country" placeholder="Your country">
    </label>
	<div *ngIf="registrationForm.get('country')!.invalid && (registrationForm.get('country')!.dirty || registrationForm.get('country')!.touched)">
	  <div *ngIf="registrationForm.get('country')?.errors?.['required']">Please provide your country name.</div>
	  <div *ngIf="registrationForm.get('country')?.errors?.['minlength']">Please provide country name with at least two characters.</div>
    </div>
  </div>
  <div>
    <label>
      Postal Code:
      <input id="pin" formControlName="pin" placeholder="Your pin code">
    </label>
	<div *ngIf="registrationForm.get('pin')?.invalid && (registrationForm.get('pin')?.dirty || registrationForm.get('pin')?.touched)">
	  <div *ngIf="registrationForm.get('pin')?.errors?.['required']">Please provide your pin/zip code.</div>
	  <div *ngIf="registrationForm.get('pin')?.errors?.['minlength']">Please provide postal code with at least 5 digits.</div>
    </div>
  </div>
  <button type="submit" [disabled]="registrationForm.invalid">Register</button>
</form>

<router-outlet />
