<h1>Delete Multiple Table Rows from Server using Angular</h1>

<div *ngIf="products && products.length > 0; else elseBlock">
	<div *ngIf="msg" [ngClass]="clss">{{msg}}</div>
	<div *ngIf="errMsg" [ngClass]="clss">{{errMsg}}</div>
	<button type="button" (click)="deleteProducts()">Delete Selected Product(s)</button>
	<table class="datatable">
		<thead>
			<tr>
				<th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
				<th>ID</th>
				<th>Code</th>
				<th>Name</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let p of products; let i=index; let odd = odd" [ngClass]="odd ? 'odd_col' : 'even_col'">
				<td><input type="checkbox" value="{{p.id}}" [(ngModel)]="products[i].checked"></td>
				<td>{{ p.id }}</td>
				<td>{{ p.name }}</td>
				<td>{{ p.code }}</td>
				<td>{{ p.price }}</td>
			</tr>
		</tbody>
	</table>
</div>
<ng-template #elseBlock><div style="color: red;">No record found</div></ng-template>