.content {
	display: flex;
	margin: 32px auto;
	padding: 0 16px;
	max-width: 960px;
	flex-direction: column;
	align-items: center;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 16px;
}